body{
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #B8184D;
}

.btn-primary{
    background-color: #E91E63;
    border-color: #E91E63;
    font-weight: bold;
}

.btn-secondary{
    /* margin-top: 1.5rem; */
    color: #fff;
    font-weight: bold;
    background-color: #B8184D;
    border-color: #6B2E42;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 25rem;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}



#form {
    color: #fff;
    text-align: center;
    background-color: #aaa;
    position: fixed;
    top: 25%;
    right: 36%;
}

#submit-button{
    background-color: #C2185B;
    border: none;
    border-radius: 14%;
    color: #fff;
    padding: 3px 20px;
}
    
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* ADD função hover{translate3d()} em todos elementos articles. 
Move o elemento tridimensionalmente sobre o seu eixo ao passar o mouse. */
article.evento{
    transition: 1s;
}


article.evento:hover {
    transform: translate3d(4px, -4px, 0);
    box-shadow: -3px 3px 3px 3px #EB1E63;
    transition: 0.5s;
}